@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes blink {
  0% {
    border: 2px solid #b9b9b9;
    background-color: #b9b9b9;
  }
  25% {
    border: 2px solid #006394;
    background-color: #006394;
    box-shadow: 0 0 5px #dddddd;
  }
  100% {
    border: 2px solid #b9b9b9;
    background-color: #b9b9b9;
  }
}

@keyframes blink_last {
  0% {
    border: 2px solid #b9b9b9;
    background-color: #b9b9b9;
  }
  25% {
    border: 2px solid #00942c;
    background-color: #00942c;
    box-shadow: 0 0 5px #dddddd;
  }
  100% {
    border: 2px solid #b9b9b9;
    background-color: #b9b9b9;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00942c;
}

.name {
  font-size: 2em;
  display: flex;
  align-items: center;

  strong {
    color: #00942c;
  }

  p {
    margin: 0;
  }
}

.rounded_img {
  border-radius: 50%;
  object-fit: cover;
  margin: 2em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip_context {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -4em;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 25px #dddddd;
  padding: 1em;
  transition: transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);

  @media (min-width: 1800px) {
    left: 1.5em;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.tooltip:hover .tooltip_context {
  visibility: visible;
  opacity: 1;
  transform: translateX(-12px);
}

.img_contain {
  object-fit: contain;
}

.status-bar {
  margin: 0 auto;
  height: 0.5em;
  width: 5em;
  border-radius: 0.25em;
  border: 1px solid #b9b9b9;
  position: relative;

  .x5 {
    width: 5em;
    background-color: #00d808;
    border-radius: 0.25em;
  }

  .x4 {
    width: 4em;
    background-color: #c3ff00;
    border-radius: 0.25em;
  }

  .x3 {
    width: 3em;
    background-color: #eeff00;
    border-radius: 0.25em;
  }

  .x2 {
    width: 2em;
    background-color: #e89e00;
    border-radius: 0.25em;
  }

  .x1 {
    width: 1em;
    background-color: #cd0000;
    border-radius: 0.25em;
  }
}

.status-bar div {
  height: 100%;
  position: absolute;
  left: 0;
}
