.navbar {
  display: flex;
  position: fixed;
  padding-left: 3em;
  margin: 0;
  bottom: 0;
  left: -1em;
  width: 150%;
  height: 5em;

  &_items {
    display: flex;
    align-items: center;
    gap: 1em;

    p {
      transition: all 0.3s ease;
      visibility: hidden;
    }
  }

  @media (max-width: 1350px) {
    width: 70%;
    position: sticky;
  }

  @media (max-width: 750px) {
    width: 70%;
    height: 2.5em;
  }
}

.nav_icon {
  margin: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;

  @media (max-width: 750px) {
    margin: 0.1em;
    width: 1em;
    height: 1em;
  }
}

.nav_icon:hover + p {
  visibility: visible;
}
